<div data-role="header" data-position="fixed" data-theme="b">
  <h1>Discover</h1>
</div>

<div role="main" class="ui-content height-100vh">
  <% if (content === 'undefined') { %>
    <div class="card">
      <h3 class="info center">Looks like you haven't liked any movies yet!</h3>
      <p>Please browse through some of the movies and click on the heart icon to get recommendations.</p>
      <div class="center"><img src="images/like.png" /></div>
    </div>
  <% } else {
    print(content);
  } %>
</div>