<div data-role="header" data-position="fixed">
	<div data-role="controlgroup" data-type="horizontal" class="center">
  	<a href="#" class="ui-btn ui-btn-active category-btn">Now Playing</a>
    <a href="#home/top_rated" class="ui-btn category-btn">Top Rated</a>
   	<a href="#home/upcoming" class="ui-btn category-btn">Upcoming</a>
  </div>
</div>

<div role="main" class="ui-content height-100vh">
  <% if (content === 'undefined') { %>
  	<div class="card">
      <h3 class="warning center">Something went terribly wrong!</h3>
      <p>We are unable to get the data for you at the moment.</p>
      <div class="center"><img src="images/broken.png" /></div>
     </div>
  <% } else {
    print(content);
 	} %>
</div>

<div data-role="footer" class="nav-glyphish" data-theme="a" data-position="fixed">
  <div data-role="navbar" class="nav-glyphish" data-grid="c">
  	<ul>
     	<li><a href="#" id="movie-icon-active" data-icon="custom" class="ui-nodisc-icon ui-btn-active">Movies</a></li>
      <li><a href="#search/star%20wars" id="search-icon" data-icon="custom" class="ui-nodisc-icon">Search</a></li>
      <li><a href="#theaters" id="theaters-icon" data-icon="custom" class="ui-nodisc-icon">Theaters</a></li>
      <li><a href="#discover" id="discover-icon" data-icon="custom" class="ui-nodisc-icon">Discover</a></li>
    </ul>
	</div>
</div>