<div data-role="header" data-position="fixed">
	<div class="ui-grid-b">
  	<div class="ui-block-a search-input">
    	<input type="search" id="search-movie-input" placeholder="Star Wars..">
    </div>
    <div class="ui-block-b center">
      <img src="images/search.png" id="search-movie-btn" class="search-icon" />
    </div>
  </div>
</div>

<div role="main" class="ui-content height-100vh">
	<% if (content === 'undefined') { %>
  	<div class="card">
    	<h3 class="warning center">Something went terribly wrong!</h3>
      <p>We are unable to get the data for you at the moment.</p>
      <div class="center"><img src="images/broken.png" /></div>
    </div>
  <% } else {
    print(content);
  } %>
</div>

<div data-role="footer" class="nav-glyphish" data-theme="a" data-position="fixed">
  <div data-role="navbar" class="nav-glyphish" data-grid="c">
	  <ul>
	  	<li><a href="#" id="movie-icon" data-icon="custom" class="ui-nodisc-icon">Movies</a></li>
	    <li><a href="#search" id="search-icon-active" data-icon="custom" class="ui-nodisc-icon ui-btn-active">Search</a></li>
	    <li><a href="#theaters" id="theaters-icon" data-icon="custom" class="ui-nodisc-icon">Theaters</a></li>
	    <li><a href="#discover" id="discover-icon" data-icon="custom" class="ui-nodisc-icon">Discover</a></li>
	  </ul>
	</div>
</div>