<div role="main" class="ui-content" id="map-canvas">
  <!-- map loads here -->
</div>

<div data-role="footer" class="nav-glyphish" data-theme="a" data-position="fixed">
  <div data-role="navbar" class="nav-glyphish" data-grid="c">
    <ul>
      <li><a href="#" id="movie-icon" data-icon="custom" class="ui-nodisc-icon">Movies</a></li>
      <li><a href="#search/star%20wars" id="search-icon" data-icon="custom" class="ui-nodisc-icon ">Search</a></li>
      <li><a href="#theaters" id="theaters-icon-active" data-icon="custom" class="ui-nodisc-icon ui-btn-active">Theaters</a></li>
      <li><a href="#discover" id="discover-icon" data-icon="custom" class="ui-nodisc-icon">Discover</a></li>
    </ul>
  </div>
</div>