.info {
  color: rgb(15, 118, 241);
}

/* Poster picture on the movies page */
.poster {
  width: 65px;
  margin: 10px auto auto 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(153, 185, 225);
}

/* Alternative image to a poster if one does not exist */
.poster-alt {
  padding: 5px;
  width: 60px;
}

.category-btn {
  font-size: 1.3em;
}

/* Styling for the back button icon */
.back-button-icon {
  margin: 5px auto 5px 5px;
  width: 25px;
}

/* Styling for the favorite/not-favorite icon */
.favorite-icon {
  width: 35px;
  margin: auto 2px auto auto;
}

/* Used to center elements */
.center {
  text-align: center;
}

/* Used for centering movie categories (now_playing, top_rated, upcoming) */
.cat-btn {
  font-size: 90%;
}

/* Used for the theaters page */
#map-canvas {
  padding: 0;
  position : absolute !important;
  top : 0px !important;
  right : 0;
  bottom : 60px !important;
  left : 0 !important;
}

/* Used to display similar movies on the movie details page */
#similar_movies {
  margin: 5px auto 5px auto;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.card {
  background-color: white;
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  margin: 10px auto 10px auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.heading_card {
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.4em;
}

.similar_poster {
  width: 75px;
}

/* Used to display the heart icon */
.heart_icon {
  padding-top: 35px;
  padding-left: 10px;
  margin-top: 5px;
  width: 50px;
}

/* Styling for the content section */
.ui-content {
  background-color: rgb(217, 234, 255);
  text-align: left;
}

/* Set the height to 100 vertical height */
.height-100vh {
  height: 100vh;
  padding-bottom: 60px;
}

/* Text align left */
.text-align-l {
  text-align: left;
}

.warning {
  color: red;
}

/* Styling for the actors image on the actor details page */
.actor_img {
  width: 90px;
  border-radius: 5px;
  margin: 5px 0px 0px 5px;
}

/* Styling for the poster on the movie details page */
.poster-movie-details {
  width: 80px;
  border-radius: 5px;
  /*margin-top: 10px;*/
  margin: 10px 5px 5px 15px;
}

/* Overriding the width property of jquery mobile ui-grids */
.ui-grid-b .ui-block-a {
  width: 80%;
}

.ui-grid-b .ui-block-b {
  width: 20%;
}

.ui-grid-a .ui-block-a {
  width: 70%;
}

.ui-grid-a .ui-block-b {
  width: 30%;
}

/* Used for styling the search icon */
.search-icon {
  padding-top: 15px;
  width: 25px;
}

/* Used for the search input field */
.search-input {
  padding-left: 10px;
}

/* Info window theaters */
#info-window .text {
  font-size: 1.1em;
}

#info-window h2 {
  font-size: 1.8em;
}

#info-window h3 {
  font-size: 1.6em;
}

#info-window .reviews {
  width: 95%;
  line-height: 1.2em;
}

#info-window .name {
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
}

/* Navigation styling */
.nav-glyphish {
  border-style: none;
}

.nav-glyphish .ui-btn {
  padding-top: 35px !important;
}

.nav-glyphish .ui-btn:after {
  width: 30px!important;
  height: 30px!important;
  margin-left: -15px !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

#movie-icon:after {
  background-image: url("../images/nav-icons/movie-white.png");
  background-size: 24px 22px;
}

#search-icon:after {
  background-image: url("../images/nav-icons/search-white.png");
  background-size: 24px 22px;
}

#theaters-icon:after {
  background-image: url("../images/nav-icons/theater-white.png");
  background-size: 24px 22px;
}

#discover-icon:after {
  background-image: url("../images/nav-icons/star-white.png");
  background-size: 24px 22px;
}

/* Styling for the search movie input field */
#search-movie-input {
  padding-left: 15px;
}
