/* Used for #movie-template */
.center_thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-left: 15px;
  width: 65px;
  border-radius: 5px 15px 10px;
}

/* Used to center elements */
.center {
  text-align: center;
}

/* Used for centering movie categories (now_playing, top_rated, upcoming) */
.cat-btn {
  font-size: 90%;
}

/* Used for the theaters page */
#map-canvas {
  padding: 0;
  position : absolute !important;
  top : 44px !important;
  right : 0;
  bottom : 50px !important;
  left : 0 !important;
}

/* Used to display similar movies on the movie details page */
#similar_movies {
  margin: 5px auto 5px auto;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
}

.card {
  background-color: white;
  box-shadow: 0px 5px 5px -0px rgba(0,0,0,0.3);
  margin: 10px auto 10px auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.heading_card {
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.4em;
}

.similar_poster {
  width: 75px;
}

/* Used to display the heart icon */
.heart_icon {
  padding-top: 35px;
  padding-left: 10px;
  margin-top: 5px;
  width: 50px;
}

/* Used to set up a background in movie details content */
.movie-details-content {
  background-color: #3498db;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

/* Used for styling the trailer */
.trailer {

}

.a-left {
  text-align: left;
}

/* Used for displaying posters */
.poster_images {
  width: 75px;
}

/* Used for displaying actors image */
.actor_image {
  width: 90px;
  padding-top: 20px;
  border-radius: 5px;
}

.poster_image_movie_details {
  width: 80px;
  border-radius: 5px;
}
