/* Used for #movie-template */
.center_thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-left: 15px;
  width: 65px;
  border-radius: 5px 15px 10px;
}

/* Used to center elements */
.center {
  text-align: center;
}

/* Used for centering movie categories (now_playing, top_rated, upcoming) */
.cat-btn {
  font-size: 90%;
}

/* Used for the theaters page */
#map-canvas {
  padding: 0;
  position : absolute !important;
  top : 44px !important;
  right : 0;
  bottom : 50px !important;
  left : 0 !important;
}
