<div data-role="header" data-position="fixed">
  <a href="#" data-role="none" id="back">
    <img src="images/back.png" class="back-button-icon" />
  </a>
  <h1>Details</h1>
</div>

<div role="main" class="ui-content height-100vh">
  <% if (content === 'undefined') { %>
    <div class="card">
      <h3 class="warning center">Something went terribly wrong!</h3>
      <p>We are unable to get the data for you at the moment.</p>
      <div class="center"><img src="images/broken.png" /></div>
    </div>
  <% } else {
    print(content);
  } %>
</div>