<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="css/jquery-mobile/jquery-mobile.css">-->
    <!-- grab jquery mobile from a cdn for now -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Home Template -->
    <script type="text/template" id="home">
      <div data-role="header" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal" class="center">
          <a href="#now_playing" class="ui-btn ui-btn-active" class="category-btn">Now Playing</a>
          <a href="#top_rated" class="ui-btn" class="category-btn">Top Rated</a>
          <a href="#upcoming" class="ui-btn" class="category-btn">Upcoming</a>
        </div>
      </div>

      <div role="main" class="ui-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
        <!-- Content goes here -->
      </div>

      <div data-role="footer" data-position="fixed" style="text-align: center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn ui-btn-active">Movies</a>
          <a href="#search" class="ui-btn">Search</a>
          <a href="#theaters" class="ui-btn">Theaters</a>
          <a href="#discover" class="ui-btn">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Home Template -->

    <!-- Top Rated Movies Template -->
    <script type="text/template" id="movies-top-rated">
      <div data-role="header" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal" class="center">
          <a href="#now_playing" class="ui-btn" class="category-btn">Now Playing</a>
          <a href="#top_rated" class="ui-btn ui-btn-active" class="category-btn">Top Rated</a>
          <a href="#upcoming" class="ui-btn" class="category-btn">Upcoming</a>
        </div>
      </div>

      <div role="main" class="ui-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>

      <div data-role="footer" data-position="fixed" class="center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn ui-btn-active">Movies</a>
          <a href="#search" class="ui-btn">Search</a>
          <a href="#theaters" class="ui-btn">Theaters</a>
          <a href="#discover" class="ui-btn">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Top Rated Movies Template -->

    <!-- Upcoming Movies Template -->
    <script type="text/template" id="movies-upcoming">
      <div data-role="header" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal" class="center">
          <a href="#now_playing" class="ui-btn" class="category-btn">Now Playing</a>
          <a href="#top_rated" class="ui-btn" class="category-btn">Top Rated</a>
          <a href="#upcoming" class="ui-btn ui-btn-active" class="category-btn">Upcoming</a>
        </div>
      </div>

      <div role="main" class="ui-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>

      <div data-role="footer" data-position="fixed" class="center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn ui-btn-active">Movies</a>
          <a href="#search" class="ui-btn">Search</a>
          <a href="#theaters" class="ui-btn">Theaters</a>
          <a href="#discover" class="ui-btn">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Upcoming Movies Template -->

    <!-- Search Movies Template -->
    <script type="text/template" id="search">
      <div data-role="header" data-position="fixed">
        <div class="ui-grid-b">
          <div class="ui-block-a search-input">
            <input type="search" id="search-movie-input" placeholder="Star Wars..">
          </div>
          <div class="ui-block-b center">
            <img src="images/search.png" id="search-movie-btn" class="search-icon" />
          </div>
        </div>
      </div>

      <div role="main" class="ui-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>

      <div data-role="footer" data-position="fixed" class="center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn">Movies</a>
          <a href="#search" class="ui-btn ui-btn-active">Search</a>
          <a href="#theaters" class="ui-btn">Theaters</a>
          <a href="#discover" class="ui-btn">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Search Movies Template -->

    <!-- Theaters -->
    <script type="text/template" id="theaters">
      <div role="main" class="ui-content" id="map-canvas">
        <!-- map loads here -->
      </div>

      <div data-role="footer" data-position="fixed" class="center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn">Movies</a>
          <a href="#search" class="ui-btn">Search</a>
          <a href="#theaters" class="ui-btn ui-btn-active">Theaters</a>
          <a href="#discover" class="ui-btn">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Theaters -->

    <!-- Discover -->
    <script type="text/template" id="discover">
      <div data-role="header" data-position="fixed">
        <h1>Discover</h1>
      </div>

      <div role="main" class="ui-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>

      <div data-role="footer" data-position="fixed" class="center">
        <div data-role="controlgroup" data-type="horizontal">
          <a href="#" class="ui-btn">Movies</a>
          <a href="#search" class="ui-btn">Search</a>
          <a href="#theaters" class="ui-btn">Theaters</a>
          <a href="#discover" class="ui-btn ui-btn-active">Discover</a>
        </div>
      </div>
    </script>
    <!-- /Discover -->

    <!-- Movie Template -->
    <!-- Used as a list item in the HomeView list of movies -->
    <script type="text/template" id="movie-template">
      <a href="#movie/<%= id %>">
        <% if (poster_path != null) { %>
          <img src="http://image.tmdb.org/t/p/w500<%= poster_path %>" class="poster" />
        <% } else { %>
          <img src="images/movie_alternative.png" class="poster poster-alt" />
        <% } %>
        <h2><%= original_title %></h2>
        <p><b>Vote Average:</b> <%= vote_average %></p>
        <p><b>Release Date:</b> <%= release_date %></p>
      </a>
    </script>
    <!-- /Movie Template -->

    <!-- Person Details Page -->
    <script type="text/template" id="person-details-template">
      <div data-role="header" data-position="fixed">
        <a href="#" data-rel="back" data-role="none" class="back"><img src="images/back.png" class="back-button-icon" /></a>
        <h1>Details</h1>
      </div>

      <div role="main" class="ui-content actor-details-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>
    </script>
    <!-- /Person Details Page -->

    <!-- Movie Details Page -->
    <!-- Used as the page to display details about a movie -->
    <script type="text/template" id="movie-details-template">
      <div data-role="header" data-position="fixed">
        <a href="#" data-rel="back" data-role="none" class="back"><img src="images/back.png" class="back-button-icon" /></a>
        <h1>Details</h1>
        <a href="#" data-role="none" style="text-align: right">
          <% if (isFavorite) { %>
            <img src="images/favorite.png" class="favorite-icon" id="remove_from_fav" />
          <% } else { %>
            <img src="images/not_favorite.png" class="favorite-icon" id="add_to_fav" />
          <% } %>
        </a>
      </div>

      <div role="main" class="ui-content movie-details-content">
        <% if (content === 'undefined') { %>
          <div class="card">
            <h3 class="warning">Something went terribly wrong!</h3>
            <p>We are unable to get the data for you at the moment.</p>
            <img src="images/broken.png" />
          </div>
        <% } else {
          print(content);
        } %>
      </div>
    </script>
    <!-- /Movie Details Page -->

    <!-- Person Details Temlate -->
    <script type="text/template" id="show-person-details-template">
      <div class="card">
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <h2 class="a-left"><%= name %></h2>
            <% if (birthday != null) { %>
              <p class="a-left"><b>Date of birth:</b></p>
              <p class="a-left"><%= birthday %></p>
            <% } %>
          </div>
          <div class="ui-block-b">
            <% if (profile_image != null) { %>
              <img src="http://image.tmdb.org/t/p/w500<%= profile_image %>" class="actor_image"/>
            <% } %>
          </div>
        </div>
        <% if (biography != '' && biography != null) { %>
          <p class="a-left"><b>Biography:</b></p> <%
          if (biography.length > 600) { %>
            <p class="a-left"><%= biography.substring(0, 600) %>...</p> <%
          } else { %>
            <p class="a-left"><%= biography %></p> <%
          }
        } %>

        <%
          if (movie_credits.cast.length > 0) { %>
            <p class="a-left"><strong>Movies:</strong></p> <%
            if (movie_credits.cast.length > 12) {
              var movies = [];
              for (var i = 0; i < 12; i++) {
                movies[i] = movie_credits.cast[i];
              }
              _.each(movies, function(movie) {
                if (movie.poster_path != null) { %>
                  <a href="#movie/<%= movie.id %>"><img src="http://image.tmdb.org/t/p/w500<%=movie.poster_path%>"
                    class="similar_poster"></img></a> <%
                }
              });
            } else {
              _.each(movie_credits.cast, function(movie) {
                if (movie.poster_path != null) { %>
                  <a href="#movie/<%= movie.id %>"><img src="http://image.tmdb.org/t/p/w500<%=movie.poster_path%>"
                    class="similar_poster"></img></a> <%
                }
              });
            }
          }
        %>
      </div>
    </script>
    <!-- /Person Details Template -->

    <!-- Movie Details Template -->
    <!-- Shows information about a specific movie -->
    <script type="text/template" id="show-movie-details-template">
      <div class="card">
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <h2><%= original_title %></h2>
          </div>
          <div class="ui-block-b">
            <% if (poster != null) { %>
              <img src="http://image.tmdb.org/t/p/w500<%= poster %>" class="poster_image_movie_details" />
            <% } else { %>
              <img src="images/movie_alternative.png" class="poster poster-alt" />
            <% } %>
          </div>
        </div>
        <hr>
        <% if (overview != null || overview != 'undefined') { %>
          <h3 class="a-left">Overview:</h3>
          <p class="a-left"><%= overview %></p>
        <% } %>

        <% if (runtime != null || runtime != 'undefined') { %>
          <p class="a-left"><strong>Runtime:</strong> <%= runtime %> min.</p>
        <% } %>

        <% if (release_date != null || release_date != 'undefined') { %>
          <p class="a-left"><strong>Release date:</strong> <%= release_date %></p>
        <% } %>

        <% if (genres.length > 0) {
          var gnrs = '';
          _.each(genres, function(genre) {
            gnrs += genre.name + ', ';
          });
          gnrs = gnrs.slice(0, -2); %>
          <p class="a-left"><strong>Genres: </strong><%= gnrs %></p>
        <% } %>

        <% if (production_companies.length > 0) {
          var prod_comp = '';
          _.each(production_companies, function(company) {
            prod_comp += company.name + ', ';
          });
          prod_comp = prod_comp.slice(0, -2); %>
          <p class="a-left"><strong>Production companies:</strong><br /><%= prod_comp %></p>
        <% } %>

        <% if (production_countries.length > 0) {
          var prod_count = '';
          _.each(production_countries, function(country) {
            prod_count += country.name + ', ';
          });
          prod_count = prod_count.slice(0, -2); %>
          <p class="a-left"><strong>Production countries:</strong><br /><%= prod_count %></p>
        <% } %>

        <% if (credits.cast.length > 0) { %>
            <p class="a-left"><strong>Cast members:</strong></p>
            <ul data-role="listview" class="cast-members-list">
              <% if (credits.cast.length > 5) {
                  var cast = []
                  for (var i = 0; i < 5; i++) {
                    cast[i] = credits.cast[i];
                  }
                  _.each(cast, function(member) { %>
                    <li data-icon="arrow-r"><a href="#person/<%= member.id %>"><%= member.name %></a></li>
                  <% });
                } else {
                  _.each(credits.cast, function(member) { %>
                    <li data-icon="arrow-r" class="ui-alt-icon ui-nodisc-icon"><a href="#person/<%= member.id %>"><%= member.name %></a></li>
                  <% });
                } %>
            </ul>
        <% } %>
        <hr>
        <% if (trailer_source !== 'undefined') { %>
              <p class="a-left"><strong>Trailer</strong></p>
              <iframe src="https://youtube.com/embed/<%= trailer_source %>" class="trailer"
                allowfullscreen></iframe>
        <% } %>

        <%
        if (similar.results.length > 0) { %>
          <p class="a-left"><strong>Similar Movies:</strong></p> <%
          if (similar.results.length > 8) {
            var similar_movies = [];
            for (var i = 0; i < 8; i++) {
              similar_movies[i] = similar.results[i];
            }
            _.each(similar_movies, function(movie) {
              if (movie.poster_path != null) { %>
                <a href="#movie/<%= movie.id %>"><img src="http://image.tmdb.org/t/p/w500<%=movie.poster_path%>"
                  class="similar_poster"></img></a> <%
              }
            });
          } else {
            _.each(similar.results, function(movie) {
              if (movie.poster_path != null) { %>
                <a href="#movie/<%= movie.id %>"><img src="http://image.tmdb.org/t/p/w500<%=movie.poster_path%>"
                  class="similar_poster"></img></a> <%
              }
            });
          }
        } %>
      </div>
    </script>
    <!-- /Movie Details Template -->

    <script data-main="js/main" src="js/libs/require/require.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAAjjxx_UnXEcBOQF2ngFZLq9N5GT_Cf_Q&sensor=false&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
  </head>
  <body>
  </body>
</html>
